
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
          <ul style="text-align:left;">
              <li><strong>national scholarships in 2019</strong></li>
              <li><strong>school-level scholarships in 2017 and 2018</strong></li>
              <li><strong>excellent league member</strong></li>
              <li><strong>excellent league cadres</strong></li>
              <li><strong>The second prize of the Undergraduate Group of the 9th MathorCup College Mathematical Modeling Challenge in 2019</strong></li>
              <li><strong>The third prize of China University Computer Design Competition WeChat Small Program Application Development Competition (small game category) in 2019</strong></li>
              <li><strong>The first prize of the 7th "Teddy Cup" Mathematical Excavation Challenge in Guangdong Province in 2019</strong></li>
              <li><strong>Excellence Award of the 3rd "General Translation Award" National College Student Translation Competition - English to Chinese Group (Final Stage) in 2019</strong></li>
              <li><strong>The second prize of IT application system development competition of Guangdong, Hong Kong, Macao greater bay area of Foshan Division in 2019</strong></li>
              <li><strong>The third prize of Computer design competition for college students in Guangdong province in 2019</strong></li>
              <li><strong>The third prize of National college students mathematical modeling contest in Guangdong province in 2018</strong></li>
              <li><strong>The special prize of the preliminary contest of FLTRP·ETIC cup national English reading contest in 2018</strong></li>
              <li><strong>......</strong></li>
          </ul>
      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
