
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
          <ul style="text-align:left">
              <li><strong>national scholarships in 2019</strong></li>
              <li>school-level scholarships in 2017 and 2018</li>
              <li>excellent league member</li>
              <li>excellent league cadres</li>
              <li>The second prize of the Undergraduate Group of the 9th MathorCup College Mathematical Modeling Challenge in 2019</li>
          </ul>
      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
